<h1>Listing rusks</h1>
<%= link_to 'New rusk', new_rusk_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Base</th>
    <th>Extras</th>
    <th>Dippable?</th>
    <th>Crunch Factor</th>
    <th colspan="2"></th>
  </tr>
 
  <% @rusks.each do |rusk| %>
    <tr>
      <td><%= rusk.name %></td>
      <td><%= rusk.base %></td>
      <td><%= rusk.extras %></td>
      <td><%= rusk.dippable %></td>
      <td><%= rusk.crunch_factor %></td>
      <td><%= link_to 'Show', rusk_path(rusk) %></td>
      <td><%= link_to 'Edit', edit_rusk_path(rusk) %></td>
      <td><%= link_to 'Destroy', rusk_path(rusk),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>