<p>
  <strong>Name:</strong>
  <%= @rusk.name %>
</p>
 
<p>
  <strong>Base:</strong>
  <%= @rusk.base %>
</p>

<p>
  <strong>Extras:</strong>
  <%= @rusk.extras %>
</p>

<p>
  <strong>Dippable:</strong>
  <%= @rusk.dippable %>
</p>

<p>
  <strong>Crunch Factor:</strong>
  <%= @rusk.crunch_factor %>
</p>

<%= link_to 'Edit', edit_rusk_path(@rusk) %> |
<%= link_to 'Back', rusks_path %>